/* GLOBAL STYLES
-------------------------------------------------- */
:root {
  --clr-primary-200: #fff;
  --clr-primary-400: #0d3b66;
  --clr-secondary-400: #657cac;

  --clr-neutral-100: #bdc3c7;
  --clr-neutral-900: #adf08e;

  --ff-primary: "Roboto", serif;
  --ff-accent: "Merriweather", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Padding below the footer and lighter body text */

body {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  display: flex;
  flex-wrap: wrap;
}

main {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.container-fluid {
  max-width: 1400px;
  padding-left: 50px;
  padding-right: 50px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 3rem;
}

.carousel-inner {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 5rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background: #000;
  color: white;
  position: relative;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.carousel-item > img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 1em auto 2em;
  /* Space out the Bootstrap <hr> more */
}

.featurette {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

img {
  width: 100%;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  padding: 1rem;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

.lead {
  padding: 1rem;
}

.bth-container {
  padding: 1rem;
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.bg-yellow {
  background-color: var(--clr-primary-200);
}

.bg-blue {
  background-color: var(--clr-secondary-400);
}

.bg-red {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.bg-primary h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}

.acc-title {
  font-family: var(--ff-primary);
}
.acc-heading {
  font-family: var(--ff-primary);
}

.me-image {
  width: 400px;
  float: right;
  margin-left: 3rem;
}

.fee-desc {
  text-indent: 2em;
}

.qhht-serv-ind {
  padding-left: 2em;
}

/****** FOOTER ******/

.footer__container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

/* ===================
   CONTACT US FORM
   =================== */

form {
  padding: 10px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 600px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.7);
  padding: 1em;
}

.form-group {
  margin-bottom: 1.5em;
}

.form-label {
  font-size: 0.75em;
  color: red;
  display: block;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}

.form-control {
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  border-color: #ccc;
  border-style: none none none none;
  width: 100%;
  font-size: 1.25em;
  transition: all 0.6s;
}

.form-control::placeholder {
  color: #aaa;
}

.form-control:focus {
  box-shadow: none;
  border-color: blue;
  outline: none;
}

.form-group:focus-within {
  transform: scale(1.1, 1.1);
}

.form-control:invalid:focus {
  border-color: red;
}

.form-control:valid:focus {
  border-color: green;
}

.bttn {
  background: 0 0 #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: red;
  font-size: 1em;
  padding: 10 10px;
  text-transform: uppercase;
}

.bttn:hover {
  border-color: blue;
  color: blue;
  background-color: rgb(214, 226, 236);
  transition: 0.3s ease background-color;
}

.focused > .form-label {
  opacity: 1;
  transform: translateX(0px);
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 6px;
}

.success {
  color: rgb(0, 114, 66);
  font-size: 14px;
  margin-top: 12px;
  display: none;
}

.fail {
  color: red;
  font-size: 14px;
  margin-top: 12px;
  display: none;
}

.hide {
  opacity: 0;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 0px;
}

input {
  padding: 10px;
  border-radius: 5px;
  width: 320px;
  border: 1px solid #0d3b66;
  font-size: 18px;
  outline: none;
  color: #333;
}

textarea {
  width: 400px;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  height: 150px;
  font-size: 18px;
}

.thank-you {
  padding: 40px;
  font-size: 32px;
  text-align: center;
}

/* ===================
   RESPONSIVE CSS
   =================== */

@media screen and (max-width: 860px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .w-1,
  .w-2,
  .w-3,
  .w-4,
  .w-5,
  .w-6 {
    grid-column: span 1;
  }

  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 3rem;
  }

  .rashmi1 {
    font-size: 45px;
  }
}
